[mysqld]
port = 3306
bind-address = 127.0.0.1
datadir = /var/lib/vitess_shard0
socket = /var/lib/vitess_shard0/mysql.sock
pid-file = /var/lib/vitess_shard0/mysql.pid
log-error = /var/lib/vitess_shard0/error.log
server-id = 1
binlog_format = ROW
log-bin = /var/lib/vitess_shard0/mysql-bin
gtid_mode = ON
enforce_gtid_consistency = ON
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
